./estrutura/pre-textuais/capa.tex
*.aux
*.log
*.fdb_latexmk
*.*~
*.bak
*.bbl
*.blg
*.brf
*.dvi
*.fls
*.glo
*.idx
*.ilg
*.ind
*.l*
*.nav
*.out
*.ps
*.snm
*.toc
*.wsp
*.synctex.*
utfpr-tcc.pdf
utfpr-tcc-compactado.pdf